__pycache__/
*.py[cod]
*.pyo
*.so
.DS_Store
.vscode/settings.json
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/
build/
dist/
target/
*.egg-info/
.venv/
venv/
env/
ENV/
examples/django/myapp/db.sqlite3
package-release.json
vscode-release.json
