.vscode/**
.vscode-test/**
node_modules/**
node_modules/@types/**
scripts/**
src/**
test/**
tsconfig.json
*.vsix
*.vsix.sha256
marketplace.json
media/screenshots/*.svg
**/*.map
.gitignore
npm-debug.log
